body.light {
  background-color: #ffffff;
  color: #333333;
}

body.dark {
  background-color: #333333;
  color: #ffffff;
}

.theme-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

.theme-button.light-button i {
  color: #ffa500; /* Sun icon color */
}

.theme-button.dark-button i {
  color: #4da6ff; /* Moon icon color */
}
